#flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
    margin: auto;
    margin-top: 200px;
    width: 250px;
    background-image: linear-gradient(#7495dd, #e5bef1);
    position: relative;
}

body {
    background-image: url("./img/bg.png");
}


/* .container {
    height: 100vh;
    width: 100%;
    background-image: url('img/bg.png');
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: absolute;
} */
